.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  align-items: center;
  background-color: rgb(230, 240, 230);
  margin: 10px;
  border-radius: 5px;
}
.completed {
  text-decoration: line-through;
  color: rgb(155, 112, 112);
}
input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}

input:focus {
  border: 2px solid rgb(93, 80, 151);
}
.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 20px;
}
.btn {
  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 7px;
}
.addTodo {
  color: #fff;
  background-color: #6d28d9;
}
.updateTodo {
  color: #6d28d9;
  background-color: #fff;
}
.todoText {
  cursor: pointer;
  font-weight: bold;
}
.header {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
span {
  margin-right: 10px;
  margin-top: 1px;
  display: inline-block;
  width: 25px;
  font-size: 25px;
  height: 25px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 20px 0;
}
.select {
  width: 172px;
  margin-left: 7px;
  margin-top: 2px;
  padding: 2px 5px;
  border-radius: 2px;
  color: #6d28d9;
  border-color: #6d28d9;
}
